*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    width: 100vw;
    background-image: url('assets/bgs/desktop.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:1024px) and (min-width:482px){
    .main{
        background-image: url('assets/bgs/ipad.jpg');
    }
}
@media (max-width:481px){
    .main{
        background-image: url('assets/bgs/phone.jpg');
    }
}
.container{
    width:90vw;
    height: 90vh;
    display: flex;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    border: 1px solid whitesmoke;
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 30px 10px rgba(0,0,0,0.2);
}
.one{
    width: 25%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    align-items: center;
    row-gap: 10%;
    color: whitesmoke;
    border:0px solid whitesmoke;
    border-right-width: 1px;
}
.one h1{
    font-size: 3vw;
}
.one select{
    padding: 10px 3vw;
    font-size: 2.8vw;
    border-radius: 10px;
    color: whitesmoke;
    background-color: rgba(0,0,0,0.4);
    outline: none;
    text-transform: capitalize;
}
option{
    background-color: whitesmoke;
    color: gray;
}
.two
{
    width: 75%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
}
.DateTime{
    width: 100%;
    height: 10%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 2.5vw;
    color: whitesmoke;
    align-items: end;

}
.DateTime *{
    border-width: 0;
    border-bottom: 2px;
    border-color: #DCDE8F;
    border-style: solid;
    
}

.Times{
    width: 100%;
    height: 90%;
    /* background-color: blue; */
}